<!-- <ng-jk-wait></ng-jk-wait>
<ng-jk-alert></ng-jk-alert> -->
<!-- <jk-ilogin-button (onsuccess)="onsuccess($event)"></jk-ilogin-button> -->

<!-- FORMLY BUILDER -->
<!-- Edit: <input type="checkbox" [(ngModel)]="isEdit">
<hr>
<jk-formly-builder
    [model]="model"
    [fields]="fields"
    [options]="options"
    [form]="form"
    [editable]="isEdit"
    (onsave)="onSave($event)"
></jk-formly-builder> -->

<ng-jk-form-builder
  (onsave)="save($event)"
  [config]="formBuilderConfig"
  [forms]="formsList"
></ng-jk-form-builder>

<!-- {{formBuilderConfig.form.value | json}} -->
